* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    font-weight: bold;
}

.img-card img{
    width: 20%;
    height: 20%;
    border: 2px solid #1c1c1c;
    margin: 8px;
    opacity: 50%;
}

.img-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
    
    border: 2px solid #1c1c1c;
}

.img-card img:hover{
    opacity: 100%;
    transition: 0.3s;
}